@import '~bootstrap/dist/css/bootstrap.min.css';

.App{
    display: flex;
    
}



:root{
    --color1: #1a90ff;
    --color2: #c471ed;
    --color3: #f64f59;
}

/* ---------------------------------------------------------*/
.box{
    
}

text{
    color: white;
}
/* ---------------------------------------------------------*/


.circle-background{
    fill: none;
    stroke:#ddd;
}

.circle-progress{
    fill: none;
    stroke: var(--color1);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.5;
}

.hardware-name{
    font-size: 1.3rem;
    font-weight: normal;
    /* text-transform: uppercase; */
    color: #ddd;
    
}


.circle-text{  /*  valor variavel  */
    font-size: 3rem;
    font-weight: bold;
    stroke: #ddd;
    fill: #ddd;
}

.symbol{  /*  acompanhado ao valor variavel   */
    font-size: 1.8rem;
    font-weight: bold;
    stroke: #ddd;
    fill: #ddd;
}