@import '~bootstrap/dist/css/bootstrap.min.css';

.App{
    display: flex;
}



:root{
    --color1: #12c2e9;
    --color2: #c471ed;
    --color3: #f64f59;
}

/* ---------------------------------------------------------*/
.box{
    background-color: #eac58d;
}

/* ---------------------------------------------------------*/


.circle-background{
    fill: none;
    stroke:#ddd;
}

.circle-progress{
    fill: none;
    stroke: var(--color1);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.hardware-name{
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
}


.circle-text{  /*  valor variavel  */
    font-size: 4rem;
    font-weight: bold;
}

.symbol{  /*  acompanhado ao valor variavel   */
    font-size: 1.8rem;
    font-weight: bold;
}